<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/static/medicles/css/mystyle.css?{% now " U" %}" />
</head>

<body>

  <div class="topnav" id="myTopnav">
    <a class="active" href="{% url 'medicles:index' %}"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="{% url 'medicles:advanced_search' %}"><i class="fa fa-fw fa-search"></i> Search</a>
    {% if user.is_authenticated %}
    <a>
      Hi {{ user.username }}!
      <a href="{% url 'medicles:logout' %}">Log Out</a>
      {% else %}
      <a href="{% url 'medicles:login' %}"><i class="fa fa-fw fa-user"></i> Login</a>
      <a href="{% url 'medicles:signup' %}"><i class="fa fa-fw fa-address-book"></i> Signup</a>
    </a>
    {% endif %}

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>

  <div style="padding-left:16px">
    <h1><br><br><br></h1>
  </div>
  {% block body_block %}
  {# Outside of here will be extended.#}
  <form class="example" action="{% url 'medicles:search' %}" style="text-align:center;margin: auto;max-width:500px;"
    method="get">
    <input type="text" placeholder="Search.." name="q" class="w3-white w3-button w3-round-xxlarge">
    <button type="submit" class="w3-round-xxlarge"><i class="fa fa-search"></i></button>
  </form>

  {% endblock %}

</body>

</html>